@page "/Configuration"
@rendermode InteractiveServer

<PageTitle>Configuration</PageTitle>
<h3>Configuration</h3>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<EditForm Model="@Model" FormName="EditParameters" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator/>

    <Card Class="mb-4">
        <CardBody>
            <CardTitle>Uvex</CardTitle>
            <div class="row mb-4">
                <label for="comPorts" class="col-sm-2 col-form-label">Port COM</label>
                <div class="col-sm-4">
                    <InputSelect @bind-Value="@Model.SelectedComPort" class="form-select" id="comPorts">
                        <option value=""></option>
                        @foreach (var port in Model.ComPorts)
                        {
                            <option value="@port">@port</option>
                        }
                    </InputSelect>
                    <ValidationMessage class="invalid-feedback" For="@(() => Model.SelectedComPort)"></ValidationMessage>
                </div>
            </div>
            <button class="btn btn-primary">Enregistrer</button>
        </CardBody>
    </Card>
</EditForm>

<Card Class="mb-4">
    <CardBody>
        <CardTitle>Serveur</CardTitle>
        <div>
            <p>Arrêter le serveur</p>
            <button class="btn btn-secondary" @onclick="ShutdownApp">Shutdown</button>
        </div>
    </CardBody>
</Card>

