@page "/Configuration"
@rendermode InteractiveServer
@inject IStringLocalizer<LocalizationResources> Loc;

<PageTitle>@Loc["Configuration_Title"]</PageTitle>
<h3>@Loc["Configuration_Title"]</h3>

<ComPortConfiguration/>
<SwaggerConfiguration/>

<Card Class="mb-4">
    <CardBody>
        <CardTitle>@Loc["Configuration_CardTitle_Server"]</CardTitle>
        <div>
            <p>@Loc["Configuration_Shutdown server"]</p>
            <button class="btn btn-secondary" @onclick="ShutdownApp">@Loc["Button_Shutdown"]</button>
        </div>
    </CardBody>
</Card>

@code 
{
    [Inject] private IHostApplicationLifetime ApplicationLifetime { get; set; } = null!;
    
    private void ShutdownApp()
    {
        ApplicationLifetime.StopApplication();
    }
}