@rendermode InteractiveServer
@inject ToastService ToastService;
@inject IOptionsSnapshot<SwaggerSettings> SwaggerSettingsOptions;
@inject IStringLocalizer<LocalizationResources> Loc;

<EditForm Model="@Model" FormName="EditParameters" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator/>

    <Card Class="mb-4">
        <CardBody>
            <CardTitle>@Loc["Configuration_Swagger_CardTitle"]</CardTitle>
            <div class="row mb-4">
                <p>@Loc["Configuration_Swagger_Info"]</p>
                <div class="form-check form-switch">
                    <Switch @bind-Value="@Model.IsEnabled" id="enableSwaggerSwitch" Label="@Loc["Configuration_Swagger_Label_Enabled"]" />
                </div>
            </div>
            <button class="btn btn-primary">@Loc["Button_Save"]</button>
        </CardBody>
    </Card>
</EditForm>
@code {
    private EditSwaggerConfirugationModel Model { get; set; } = new();

    protected override void OnInitialized()
    {
        Model.IsEnabled = SwaggerSettingsOptions.Value.Enabled;
    }
    
    private async Task SubmitForm()
    {
        Result<EmptyResult> result = await new UpdateSwaggerConfigurationCommand(Model.IsEnabled).ExecuteAsync();
        ToastService.DisplayToast(result);
    }

    private class EditSwaggerConfirugationModel
    {
        public bool IsEnabled { get; set; }
    }
}