@using Shelyak.Uvex.Web.Extensions
@inherits Shelyak.Uvex.Web.Components.Shared.Uvex.UvexComponentBase
@rendermode InteractiveServer
@inject IStringLocalizer<LocalizationResources> Loc;

<Card Class="h-100">
    <CardBody>
        <CardTitle>@Loc["UvexControl_Calibration_CardTitle"]</CardTitle>
        
        <div class="row">
            <div class="form-check form-switch">
                <InputCheckbox @bind-Value="@Model.Sky" class="form-check-input" type="checkbox" role="switch" id="skySwitch" @onclick="EnableSky"/>
                <label class="form-check-label" for="skySwitch">@Loc["UvexControl_Calibration_Switch_Sky"]</label>
            </div>
            <div class="form-check form-switch">
                <InputCheckbox @bind-Value="@Model.Flat" class="form-check-input" type="checkbox" role="switch" id="flatSwitch" @onclick="EnableFlat"/>
                <label class="form-check-label" for="flatSwitch">@Loc["UvexControl_Calibration_Switch_Flat"]</label>
            </div>
            <div class="form-check form-switch">
                <InputCheckbox @bind-Value="@Model.Calibration" class="form-check-input" type="checkbox" role="switch" id="calibrationSwitch" @onclick="EnableCalibration"/>
                <label class="form-check-label" for="calibrationSwitch">@Loc["UvexControl_Calibration_Switch_Calibration"]</label>
            </div>
            <div class="form-check form-switch">
                <InputCheckbox @bind-Value="@Model.Dark" class="form-check-input" type="checkbox" role="switch" id="darkSwitch" @onclick="EnableDark"/>
                <label class="form-check-label" for="darkSwitch">@Loc["UvexControl_Calibration_Switch_Dark"]</label>
            </div>
        </div>
    </CardBody>
</Card>

@code
{
    private CalibrationControlModel Model { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        await LoadCurrentLightSource();
    }
    
    protected override async Task LoadData()
    {
        await LoadCurrentLightSource();
    }

    private async Task LoadCurrentLightSource()
    {
        var result = await ExecuteAndHandleError(async () => await AlpacaCommands.GetLightSource());
        if (result.IsSuccessAndHasValue())
        {
            SetSwitchesState(result.Value.Value!.Value);
        }
    }

    private async Task EnableSky()
    {
        var result = await ExecuteAndHandleError(async () => await AlpacaCommands.SetLightSource(LightSource.SKY));
        if (result.IsSuccess)
        {
            SetSwitchesState(LightSource.SKY);
        }
    }

    private async Task EnableFlat()
    {
        var result = await ExecuteAndHandleError(async () => await AlpacaCommands.SetLightSource(LightSource.FLAT));
        if (result.IsSuccess)
        {
            SetSwitchesState(LightSource.FLAT);
        }
    }

    private async Task EnableCalibration()
    {
        var result = await ExecuteAndHandleError(async () => await AlpacaCommands.SetLightSource(LightSource.CALIB));
        if (result.IsSuccess)
        {
            SetSwitchesState(LightSource.FLAT);
        }
    }

    private async Task EnableDark()
    {
        var result = await ExecuteAndHandleError(async () => await AlpacaCommands.SetLightSource(LightSource.DARK));
        if (result.IsSuccess)
        {
            SetSwitchesState(LightSource.DARK);
        }
    }
    
    private void SetSwitchesState(LightSource activeLightSource)
    {
        Model.Sky = activeLightSource == LightSource.SKY;
        Model.Flat = activeLightSource == LightSource.FLAT;
        Model.Calibration = activeLightSource == LightSource.CALIB;
        Model.Dark = activeLightSource == LightSource.DARK;
    }

    public class CalibrationControlModel
    {
        public bool Sky { get; set; }
        public bool Flat { get; set; }
        public bool Calibration { get; set; }
        public bool Dark { get; set; }
    }
}
