@inherits Shelyak.Uvex.Web.Components.Shared.Uvex.UvexComponentBase
@rendermode InteractiveServer
@inject IStringLocalizer<LocalizationResources> Loc;

<Card Class="h-100">
    <CardBody>
        <CardTitle>@Loc["UvexControl_Calibration_CardTitle"]</CardTitle>
        
        <div class="row">
            <div class="form-check form-switch">
                <Switch @bind-Value="@Sky" id="skySwitch" @onclick="EnableSky" Label="@Loc["UvexControl_Calibration_Switch_Sky"]" />
            </div>
            <div class="form-check form-switch">
                <Switch @bind-Value="@Flat" id="flatSwitch" @onclick="EnableFlat" Label="@Loc["UvexControl_Calibration_Switch_Flat"]" />
            </div>
            <div class="form-check form-switch">
                <Switch @bind-Value="@Calibration" id="calibrationSwitch" @onclick="EnableCalibration" Label="@Loc["UvexControl_Calibration_Switch_Calibration"]" />
            </div>
            <div class="form-check form-switch">
                <Switch @bind-Value="@Dark" id="darkSwitch" @onclick="EnableDark" Label="@Loc["UvexControl_Calibration_Switch_Dark"]" />
            </div>
        </div>
    </CardBody>
</Card>

@code
{
    private bool Sky { get; set; }
    private bool Flat { get; set; }
    private bool Calibration { get; set; }
    private bool Dark { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await LoadCurrentLightSource();
    }
    
    protected override async Task LoadData()
    {
        await LoadCurrentLightSource();
    }
    
    private async Task EnableSky() => await SetLightSource(LightSource.SKY);
    private async Task EnableFlat() => await SetLightSource(LightSource.FLAT);
    private async Task EnableCalibration() => await SetLightSource(LightSource.CALIB);
    private async Task EnableDark() => await SetLightSource(LightSource.DARK);
    
    private async Task LoadCurrentLightSource()
    {
        var result = await ExecuteAndHandleError(async () => await AlpacaCommands.GetLightSource());
        if (result.IsSuccessAndHasValue())
        {
            SetSwitchesState(result.Value.Value!.Value);
        }
    }
    
    private async Task SetLightSource(LightSource lightSource)
    {
        var result = await ExecuteAndHandleError(async () => await AlpacaCommands.SetLightSource(lightSource));
        if (result.IsSuccess)
        {
            SetSwitchesState(lightSource);
        }
    }
    
    private void SetSwitchesState(LightSource activeLightSource)
    {
        Sky = activeLightSource == LightSource.SKY;
        Flat = activeLightSource == LightSource.FLAT;
        Calibration = activeLightSource == LightSource.CALIB;
        Dark = activeLightSource == LightSource.DARK;
    }
}
