@inherits UvexComponentBase
@rendermode InteractiveServer
@inject IStringLocalizer<LocalizationResources> Loc;

<Card Class="mb-4">
    <CardBody>
        <CardTitle>@Loc["UvexControl_GratingAngle_CardTitle"]</CardTitle>

        <ErrorCallout ErrorMessage="@ErrorMessage" />
        
        <EditForm Model="@Model" FormName="angle-control-form" OnSubmit="@ExecuteAngleControlAction">
            <div class="row mb-3">
                <div class="col-sm-2">@Loc["UvexControl_GratingAngle_Label_Current angle"]</div>
                <div class="col-sm-10">@CurrentAngle°</div>
            </div>
            <div class="row mb-3">
                <label for="step-size" class="col-sm-2 col-form-label">@Loc["UvexControl_GratingAngle_Label_Step size"]</label>
                <div class="col-sm-1">
                    <InputNumber @bind-Value="@Model.StepSize" step=".01" min="@MinAngle" max="@MaxAngle" id="step-size" class="form-control"/>
                </div>
                <div class="col-sm-9">
                    <button @onclick="@(() => Model.Action = AngleControlAction.MoveCw)" class="btn btn-primary">+</button>
                    <button @onclick="@(() => Model.Action = AngleControlAction.MoveCcw)" class="btn btn-primary">-</button>
                </div>
            </div>
            <div class="row mb-3">
                <label for="position" class="col-sm-2 col-form-label">@Loc["UvexControl_GratingAngle_Label_Target angle"]</label>
                <div class="col-sm-1">
                    <InputNumber @bind-Value="@Model.AbsolutePosition" step=".01" min="@MinAngle" max="@MaxAngle" id="position" class="form-control"/>
                </div>
                <div class="col-sm-9">
                    <button @onclick="@(() => Model.Action = AngleControlAction.GoTo)" class="btn btn-primary">@Loc["Button_Go to"]</button>
                    <button @onclick="@(() => Model.Action = AngleControlAction.Calibrate)" class="btn btn-secondary">@Loc["Button_Calibrate"]</button>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-auto">
                    <button @onclick="@(() => Model.Action = AngleControlAction.Abort)" class="btn btn-danger">@Loc["Button_Halt"]</button>
                </div>
            </div>
        </EditForm>
    </CardBody>
</Card>

@code
{
    private float CurrentAngle { get; set; }
    private float MinAngle { get; set; } = 0.0f;
    private float MaxAngle { get; set; } = 1000.0f;
    private AngleControlModel Model { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        var gratingAngleMin = await AlpacaCommands.GetGratingAngleMin();
        HandleAlpacaError(gratingAngleMin.Value);
        MinAngle = gratingAngleMin.Value.Value.Value;

        var gratingAngleMax = await AlpacaCommands.GetGratingAngleMax();
        HandleAlpacaError(gratingAngleMax.Value);
        MaxAngle = gratingAngleMax.Value.Value.Value;
    }
    
    protected override async Task LoadData()
    {
        var response = await AlpacaCommands.GetGratingAngle();
        HandleAlpacaError(response.Value);
        CurrentAngle = response.Value.Value.Value;
    }
    
    private Task ExecuteAngleControlAction()
    {
        switch (Model.Action)
        {
            case AngleControlAction.Calibrate:
                return Calibrate();
            case AngleControlAction.GoTo:
                return GoTo();
            case AngleControlAction.MoveCcw:
                return MoveIn();
            case AngleControlAction.MoveCw:
                return MoveOut();
            case AngleControlAction.Abort:
                return Abort();
            default:
                throw new InvalidOperationException($"{Model.Action} is not a supported action");
        }
    }
    
    private async Task Calibrate()
    {
        await ExecuteAndHandleError(() => AlpacaCommands.CalibrateGratingAngle(Model.AbsolutePosition));
    }
    
    private async Task GoTo()
    {
        await ExecuteAndHandleError(() => AlpacaCommands.SetGratingAngle(Model.AbsolutePosition));
    }

    private async Task MoveIn()
    {
        await ExecuteAndHandleError(() => AlpacaCommands.SetGratingAngle(CurrentAngle - Model.StepSize));
    }

    private async Task MoveOut()
    {
        await ExecuteAndHandleError(() => AlpacaCommands.SetGratingAngle(CurrentAngle + Model.StepSize));
    }
    
    private async Task Abort()
    {
        await ExecuteAndHandleError(() => AlpacaCommands.StopGratingAngle());
    }


    public class AngleControlModel
    {
        public AngleControlAction Action { get; set; }
        public float StepSize { get; set; } = 0.05f;
        public float AbsolutePosition { get; set; }
    }

    public enum AngleControlAction
    {
        Calibrate,
        GoTo,
        MoveCcw,
        MoveCw,
        Abort
    }
}
